# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
db.sqlite3

# Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
*.so
*.ipa
*.dll
*.exe
*.dylib

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
